@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap');

:root {
    --primary-color: #FFFFFF;
    --secondary-color: #FF6565;
    --spacing-xxl: 125px;
    --spacing-xl: 90px;
    --spacing-lg: 75px;
    --spacing-md: 30px;
    --spacing-s: 25px;
    --spacing-xs: 15px;
    --spacing-xxs: 5px;


    --font-size-xxs: 12px;
    --font-size-xs: 14px;
    --font-size-s: 16px;
    --font-size-md: 25px;
    --font-size-lg: 32px;
    --font-size-xl: 46px;

    --link-hover-active: #ff6565;
    --color-white: white;
    --button-opacity-hover-active: 0.9;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
    max-width: 1400px;

}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* header */

header {
    height: 800px;
    background-image: url(/headphones/images/headphones_hero_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--primary-color);
    background-position: center;
    /* margin-top: 2px; */
}

/* humburger */




.nav-items {
    padding-top: 25px;
    /* background-color: greenyellow; */

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    margin-left: 200px;
    margin-right: 200px;
    /* width: 1000px; */
    padding: 0;
    /* background-color: red; */

}



.sub-nav {
    font-size: var(--font-size-xxs);
    font-weight: bold;
    list-style: none;
    display: flex;
    column-gap: var(--spacing-md);
    cursor: context-menu;
}

li:hover {
    color: var(--link-hover-active);
    opacity: var(--button-opacity-hover-active);
}

.nav-image {
    height: var(--font-size-lg);
}

.main-part {
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text {
    text-align: center;
    margin-top: 160px;
    /* margin-left: 26px; */
    /* background-color: green; */
}

.text>h1 {
    font-weight: bold;
    font-size: 32px;
    margin: 0;
}

.text>h6 {
    font-weight: 600;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;

}

.text>p {
    width: 637px;
    /* line-height: 1.6; */
    font-weight: normal;
    font-size: 16px;
    opacity: .9;
}

.button {
    border-radius: var(--spacing-s);
    background-color: var(--secondary-color);
    background: var(--link-hover-active);
    color: var(--color-white);
    font-weight: bold;
    border: none;
    height: 44px;
    width: 162px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 60px;
}

input[value] {
    font-size: 14px;
    font-weight: bold;
}

/* part_1_what_we_do */

.part_1_what_we_do {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 75px;
    color: black;

}

.part_1_what_we_do>p {
    width: 637px;
    line-height: 1.6;
    font-weight: normal;
    font-size: 16px;
}

.part_1_what_we_do>h2 {
    font-weight: 600;
    font-size: 32px;
}

/* part_2_icons_section */

.part_2_icons {
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: 1002px; */
    margin-top: 100px;
    margin-bottom: 100px;
    /* background-color: red; */
}


.icon_items {
    width: 207px;
    /* height: 180px; */
    text-align: center;
}

.icon_items>img {
    height: 32%;
}

.icon_items>h3 {
    font-weight: 600;
    font-size: 18px;
}

.icon_items>p {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.6;
}

/* Our results section */

.our_results {
    height: 650px;
    background-image: url(/headphones/images/headphones_hero_2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.part_3_dark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

}

.part_3_dark>h2 {
    font-weight: 600;
    font-size: 32px;
}


.part_3_dark>p {
    font-weight: normal;
    font-size: 16px;
    width: 637px;
    opacity: .9;
}

.dot {
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;

}

.pentagon {
    background-image: url(/headphones/images/pentagone.png);
    height: 190px;
    width: 190px;
    background-size: 190px;
    background-repeat: no-repeat;
    text-align: center;
    line-height: 0.5;
}

.pentagon>h3 {
    font-weight: bold;
    font-size: 46px;
    margin-top: 70px;
    margin-bottom: 30px;
    opacity: .9;
}

.pentagon>p {
    font-weight: normal;
    font-size: 14px;
    opacity: .9;
}

.contact_us_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    /* height: 373px; */
}

.contact_us h2 {
    color: #071629;
    font-weight: 600;
    font-size: 32px;
}

.form input {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    width: 335px;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px groove #979797;
    line-height: 2;
    width: 335px;
}

input::placeholder {
    color: #071629;

}

.form {
    line-height: 4;
}


footer {
    background-color: #071629;
    height: 249px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer_main {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    font-size: 16px;
    margin-top: 60px;
}

.logo img {
    width: 161px;
    height: 32px;
}

div .footer_nav {
    display: flex;
    justify-content: space-between;
    width: 130px;
    height: 30px;
}


footer p {
    color: #FFFFFF;
    font-size: 12px;
    opacity: 0.3;
    margin-top: 70px;
    text-align: center;

}

@media only screen and (min-width: 1200px) {
    html {
        /* max-width: 1400px; */
        margin-left: 250px;
        background-color: black;
    }

    body {
        background-color: #FFFFFF;
    }

}

@media only screen and (min-width:600px) and (max-width:1281px) {
    nav {
        display: flex;
        justify-content: space-between;
        /* background-color: red; */
        margin-left: 66px;
        margin-right: 66px;
    }

    .part_2_icons {
        flex-wrap: wrap;
        width: 472px;
        gap: 50px;
    }

    .our_results {
        height: 876px;
    }

    .dot {
        flex-wrap: wrap;
        width: 472px;
        gap: 50px;
    }
}

@media only screen and (max-width: 600px) {
    body {
        background-color: red;
    }

    header {}

    .main-part>p {}
}